body{
    background-color: lightgray;
    font-family: Poppins;
    background-image: url(1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right top;
    background-attachment: fixed;
}


h4{
    text-align: center;
    color: white;

}

.div1{
    width: 600px;
    height: 250px;
    background-color: whitesmoke;
    border-radius: 8px;
    margin-top: 150px;
}

h3{
    margin-bottom: -100px;
}

#vote{
    margin-bottom: -300px;
}